@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-light: #F7F7F7;
  --orange-main:  #CD6326;
  --orange-dark: #8F5613;
  --header-bg: #02160b;
  --orange-light: #E39128;
  --artnot-bg: #cccccc;
  --font-dark: #333333;
  --font-grey: #666666;
}
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  font-family: Roboto, sans-serif;
}
body, ul, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.btn {
  background: var(--orange-main);
  font-size: 23px;
  font-weight: 400;
  color: var(--font-light);
  border: 0;
  outline: 0;
  border-radius: 5px;
}
.btn:hover {
  background: var(--orange-light);
  transition: .2s;
}
.btn:active {
  background: var(--orange-dark);
  transition: .2s;
}
.wrapper {
  margin: 0 auto;
  padding: 0 120px;
  height: 100%;
  width: 1440px;
  overflow: hidden;
}
.header, .survival {
  width: 100%;
  background: var(--header-bg);
}
.header {
  height: 79px;
}
.header__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 19px;
  z-index: 50;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__link, .logo__image {
  width: 70px;
  height: 60px;
}
.logo__title {
  color: var(--font-light);
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 15px;
}
.menu {
  max-width: 480px;
}
.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 66px;
}
.menu__item {
  opacity: .75;
}
.menu__item:hover {
  opacity: 1;
  transition: opacity .2s;
}
.menu__link {
  display: block;
  color: var(--font-light);
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.search {
  width: 23px;
  height: 23px;
  background-image: url(./assets/images/search_icon.svg);
  background-repeat: no-repeat;
}
.menu__link {
  width: 100%;
  height: 100%;
}
.sign-in {
  width: 120px;
  text-align: center;
  border: 2px solid var(--orange-main);
  border-radius: 5px;
}
.sign-in > .menu__link {
  padding: 6px 0;
}
.sign-in:hover {
  background: var(--orange-main);
}
.sign-in > .menu__link:active {
  background: var(--orange-dark);
}
.main {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.survival {
  height: 701px;
}
.survival__bg {
  width: 1440px;
  height: 780px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-image: url(./assets/images/survivalbg.jpg);
  background-repeat: no-repeat;
}
.survival__content {
  margin-top: 204px;
  width: 274px;
}
.survival__caption {
  color: var(--orange-main);
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}
.survival__text {
  padding-top: 55px;
  color: var(--font-light);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.survival__donate {
  margin-top: 48px;
  width: 160px;
  height: 60px;
}
.articles {
  max-height: 728px;
}
.articles, .notified {
  background: var(--artnot-bg);
}
.articles__caption {
  color: var(--font-dark);
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding: 124px 0 24px;
}
.articles__subcaption {
  padding-bottom: 122px;
  color: var(--font-grey);
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.slider {
  max-width: 100%;
  max-height: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__arrow {
  padding: 7px 2px 0;
  max-width: 30px;
  max-height: 70px;
  border: none;
  outline: none;
  background: none;
  opacity: .75;
}
.slider__arrow:hover {
  opacity: 1;
  transition: .2s;
}
.slider__arrow-right {
  padding: 0 2px 0;
  transform: rotate(180deg);
}
.slider__content {
  max-width: 1020px;
  max-height: 360px;
  display: flex;
  justify-content: space-between;
}
.slider__card:nth-child(2n) {
  margin: 0 60px;
}
.slider__card {
  max-width: 300px;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.slider__photo {
  max-width: 300px;
  max-height: 360px;
}
.slider__name {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  color: var(--font-light);
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.slider__description {
  width: 186px;
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  color: var(--font-light);
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.notified {
  padding-bottom: 240px;
  max-height: 640px;
}
.notified__caption {
  padding: 241px 0 61px;
  color: var(--font-dark);
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}
.form {
  margin: 0 auto;
  width: 660px;
  height: 61px;
  display: flex;
}
.form__input {
  padding-left: 15px;
  width: 540px;
  height: 100%;
  outline: none;
  border: 1px var(--font-grey) solid;
  border-radius: 2px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.form__input::placeholder, .form__input {
  color: var(--font-grey);
  font-size: 23px;
  font-weight: 400;
}
.form__submit {
  width: 120px;
  height: 100%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
